// variables for color
$color-white: #fff;
$color-black: #000;
$color-gray: #808080;
$color-gray-dark: #A9A9A9;
$color-red: #FF0000;

// variables for font-size
$small-font: 12px;
$medium-font: 14px;
$large-font: 16px;